.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 381px;
  cursor: default;
  height: 116px;
}
@media screen and (max-width: 1029px) {
  .header {
    gap: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    padding-top: 55px;
    z-index: 2;
  }
}
.header__contacts {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .header__contacts {
    padding: 0;
    gap: 120px;
    position: absolute;
  }
}
.header__contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .header__contacts__body {
    padding: 0;
  }
}
.header__contacts .lang a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 8px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 7px;
}
.header__contacts .lang a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts .lang a:active {
  background: #F0145A;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts .header__contacts__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
.header__contacts .header__contacts__number::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  cursor: default;
  top: 7px;
  left: 6px;
}
.header__contacts .header__contacts__number::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  cursor: default;
  border-radius: 50%;
  top: 7px;
  right: 7px;
}
.header__contacts span {
  padding: 0 6px;
}
.header__contacts span svg {
  display: inline-block;
  margin-bottom: 1px;
}
.header__contacts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}
.header__contacts .facebook a path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts .facebook a:hover path {
  fill: #F0145A;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts__nav {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .header__contacts__nav {
    text-align: left;
  }
}
.header__contacts__nav li {
  display: inline-block;
  margin-left: 15px;
}
.header__contacts__nav li:first-child {
  margin-left: 0;
}
.header__contacts__nav a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 3px;
}
.header__contacts__nav a:hover {
  border-bottom: 2px solid white;
}
.header__contacts__nav a:active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}