@import url(header.css);
@import url(footer.css);
@import url(myFrameworks.css);
.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 904px;
    padding: 0 30px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 648px;
    padding: 0 30px;
    margin: auto;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 425px) {
  .lock {
    overflow: hidden;
  }
}

.top_section {
  background: -o-linear-gradient(221.43deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  position: relative;
  margin-bottom: 80px;
}
.top_section::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 10px;
  left: 10px;
  background-color: #cacadb;
  width: calc(100% - 20px);
  border-radius: 0px 0px 12px 12px;
}
.top_section::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 10px;
  left: 20px;
  background-color: #E7E7F2;
  width: calc(100% - 40px);
  border-radius: 0px 0px 12px 12px;
}
.top_section .symbol {
  background: no-repeat center url("..img/symbol.png");
  position: absolute;
  left: calc(50% - 436.17px + 0.17px);
  top: -114px;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .top_section .symbol {
    left: calc(50% - 294.98px - 0.02px);
    top: calc(50% - 132px);
  }
}
@media screen and (max-width: 768px) {
  .top_section .symbol {
    left: calc(50% - 336.98px - 0.02px);
    top: calc(50% - 245px);
  }
}
@media screen and (max-width: 1024px) {
  .top_section .symbol svg {
    width: 669.96px;
    height: 768px;
  }
}
@media screen and (max-width: 768px) {
  .top_section .symbol svg {
    height: 1024px;
  }
}
.top_section .symbol p {
  position: absolute;
  left: calc(65% - 400px);
  top: calc(50% - 23px);
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .top_section .symbol p {
    left: calc(50% - 277px);
    top: calc(50% - 23px);
  }
}
.top_section .svg {
  position: relative;
}
.top_section .svg a circle {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.top_section .svg a path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.top_section .svg a:hover circle {
  stroke: #F0145A;
}
.top_section .svg a:hover path {
  stroke: #F0145A;
}
.top_section .svg .scroll {
  position: absolute;
  left: calc(50% - 21px);
  bottom: -825px;
}
@media screen and (max-width: 1024px) {
  .top_section .svg .scroll {
    bottom: -625px;
  }
}
@media screen and (max-width: 768px) {
  .top_section .svg .scroll {
    bottom: -707px;
  }
}

.experience {
  padding-top: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  padding-bottom: 56px;
}
@media screen and (max-width: 1024px) {
  .experience {
    padding-top: 730px;
  }
}
@media screen and (max-width: 768px) {
  .experience {
    display: block;
    max-width: 648px;
    margin: 0 auto;
  }
}
.experience__list {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  padding-right: 60px;
}
@media screen and (max-width: 1024px) {
  .experience__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media screen and (max-width: 768px) {
  .experience__list {
    border-right: 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    padding-right: 0px;
    padding-bottom: 60px;
    overflow: hidden;
  }
}
.experience__list nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .experience__list nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    height: 46px;
  }
}
.experience__list nav a {
  cursor: pointer;
  color: #B3B3BA;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .experience__list nav a {
    padding-bottom: 0px;
    white-space: nowrap;
  }
}
.experience__list nav a:last-of-type {
  padding-bottom: 0;
}
.experience__list nav a:active {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.experience__list nav a:hover {
  -webkit-text-fill-color: #F0145A;
  background: none;
}
.experience__desc {
  position: relative;
  max-width: 861px;
}
@media screen and (max-width: 1024px) {
  .experience__desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media screen and (max-width: 768px) {
  .experience__desc {
    padding-top: 60px;
  }
}
.experience__desc .experience__blocks {
  display: none;
}
.experience__desc .experience__blocks:target {
  display: block;
}
.experience__desc h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.experience__desc p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services {
  padding-bottom: 60px;
  margin: 0 auto;
}
.services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  gap: 2px;
}
.services h4 {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  padding-bottom: 60px;
  padding-top: 10px;
}
.services a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.services a:hover {
  color: #F0145A;
}
.services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 60px;
  row-gap: 60px;
}
.services .row img {
  padding: 14px;
  background: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 30px;
}
.services .row__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
@media screen and (max-width: 1024px) {
  .services .row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
@media screen and (max-width: 768px) {
  .services .row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}
.services .row__item a {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  text-align: left;
  letter-spacing: 0px;
  text-transform: none;
}
.services .row__item a:hover {
  color: #F0145A;
}
.services .row p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.team {
  position: relative;
  margin-bottom: 106px;
}

.swiper {
  border-radius: 12px;
}

.swiper-body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  max-height: 1087px;
}
@media screen and (max-width: 1440px) {
  .swiper-body {
    height: 344px !important;
    border-radius: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-body {
    height: 528px !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 936px !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}
.swiper-body h4 {
  padding-bottom: 6px;
}
.swiper-body .bg-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  min-height: 298px !important;
  background: no-repeat url("../img/team.png");
}
@media screen and (max-width: 1440px) {
  .swiper-body .bg-item {
    background: no-repeat url("../img/team1.png");
    height: 344px !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-body .bg-item {
    background: no-repeat url("../img/team2.png");
    height: 528px !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media screen and (max-width: 768px) {
  .swiper-body .bg-item {
    background: no-repeat center url("../img/team-tablet.png");
    width: 100%;
    height: 100% !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 53%;
            flex: 0 0 53%;
  }
}
.swiper-body .item-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
  background: #F5F5FA;
  padding: 20px 20px 20px 30px;
  max-height: 1087px;
  height: 298px !important;
}
@media screen and (max-width: 1440px) {
  .swiper-body .item-desc {
    height: 344px !important;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-body .item-desc {
    height: 528px !important;
  }
}
@media screen and (max-width: 1024px) {
  .swiper-body .item-desc {
    height: 436px !important;
  }
}
.swiper-body .desc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.swiper-body .desc-link a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.swiper-body .desc-link a:hover {
  color: #0085FF;
}
.swiper-body .desc-link a:active {
  color: #006CCF;
}
.swiper-body .description {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
.swiper-body h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.swiper-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-bottom: 30px;
}

.clients h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 100px 60px 100px;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 30px 0 60px 0;
  }
}
.wrapper div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 901px) {
  .wrapper div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
  }
}
.wrapper div img {
  display: block;
}
.wrapper__bg-blue {
  background: #1C4280;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  border-top-left-radius: 12px;
}
@media screen and (max-width: 1440px) {
  .wrapper__bg-blue {
    border-top-left-radius: 0;
  }
}
.wrapper__bg-darkblue {
  background: #143646;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
}
.wrapper__bg-orange {
  background: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30)), #F48B30;
  background: -o-linear-gradient(bottom, #F48B30, #F48B30), #F48B30;
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
}
.wrapper__bg-purple {
  background: #9E4DC3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  border-top-right-radius: 12px;
}
@media screen and (max-width: 1440px) {
  .wrapper__bg-purple {
    border-top-right-radius: 0;
  }
}
.wrapper__bg-orange2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #FD9339;
}
.wrapper__bg-grey {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #E2E2E4;
}
.wrapper__bg-red {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #C71C36;
}
.wrapper__bg-white {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #DCF3F9;
}
.wrapper__bg-softgrey {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #EAEAEA;
  border-bottom-left-radius: 12px;
}
@media screen and (max-width: 1440px) {
  .wrapper__bg-softgrey {
    border-bottom-left-radius: 0;
  }
}
.wrapper__bg-darkpurple {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #282240;
}
.wrapper__bg-darkblue2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #1D4568;
}
.wrapper__bg-black {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 120px;
  background: #000000;
  border-bottom-right-radius: 12px;
}
@media screen and (max-width: 1440px) {
  .wrapper__bg-black {
    border-bottom-right-radius: 0;
  }
}

.publications {
  background-color: #F5F5FA;
  padding-top: 30px;
}
.publications__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.publications__link a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.publications__link a:hover {
  color: #0085FF;
}
.publications__link a:hover path {
  color: #0085FF;
}
.publications__link a:active {
  color: #006CCF;
}
.publications__link a:active path {
  color: #006CCF;
}
.publications h4 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 30px;
  padding-top: 10px;
}
.publications__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .publications__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.publications__item {
  width: 513px;
  background: #FFF;
  border-radius: 12px;
  height: 430px;
  overflow: hidden;
}
@media screen and (max-width: 1440px) {
  .publications__item {
    width: 420px;
    height: 450px;
  }
}
@media screen and (max-width: 1025px) {
  .publications__item {
    width: 281.33px;
    height: 556px;
  }
}
@media screen and (max-width: 768px) {
  .publications__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 47%;
            flex: 1 0 47%;
    height: 514px;
  }
}
.publications__item a {
  display: block;
  cursor: pointer;
  border-radius: 12px;
  height: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.publications__item a:hover {
  background: #E6E6F0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.publications__item a:hover .line {
  background: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.publications__item img {
  max-width: 100%;
  display: block;
  height: 200px;
}
.publications__item .line {
  max-width: 80%;
  height: 4px;
  background: #E6E6F0;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .publications__item .line {
    max-width: 80%;
  }
}
.publications__item h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  padding: 30px 30px 15px 30px;
}
.publications__item span {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding-bottom: 15px;
  padding-left: 30px;
}
.publications__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 15px 30px 30px 30px;
}