@import url(myFrameworks.css);
@import url(footer.css);
@import url(about_us_header.css);
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 904px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 648px;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 425px) {
  .lock {
    overflow: hidden;
  }
}

.content {
  max-width: 1480px;
  padding: 60px 60px 0 60px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .content {
    padding: 30px 30px 0 30px;
  }
}
.content__header {
  height: 668px;
}
@media screen and (max-width: 425px) {
  .content__header {
    height: 585px;
  }
}
.content__header h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
  padding: 30px 0 15px 0;
}
.content__header span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.content__header-bg {
  background: url("../img/publication-entry.png") center/cover;
  border-radius: 12px;
  height: 500px;
}
@media screen and (max-width: 425px) {
  .content__header-bg {
    height: 300px;
    width: 100%;
  }
}
.content__main {
  border-top: 4px solid #E6E6F0;
  border-bottom: 4px solid #E6E6F0;
  padding: 30px 0 30px 0;
  margin-top: 30px;
}
.content__main p {
  font-size: 16px;
  line-height: 26px;
}
.content__main h1 {
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  padding: 30px 0;
}
.content__main ol {
  margin-bottom: 30px;
}
.content__main ol h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #46466E;
  padding: 0 0 15px 0;
}
.content__main ol li {
  padding-left: 10px;
  margin-left: 30px;
}
.content__main ol li::marker {
  color: #F0145A;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: right !important;
}
.content__main-bg {
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 30px 0 60px 0;
}
.content__main-bg__item {
  height: 398px;
  width: 640px;
  background: url("../img/publication-illustration.png") center/cover;
}
.content__main-bg__item::before {
  content: "This is what the ad personalization settings window in your Google Account looks like";
  position: absolute;
  bottom: -15px;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-left: 20px;
}
.content__main h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
  padding: 30px 0 15px 0;
}
.content .share {
  padding: 30px 0;
}
.content .share a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  padding: 9px;
  border-radius: 12px;
  background: #F5F5FA;
}
.content .share a:hover {
  background: #EDEDF7;
}
.content .share a:first-of-type {
  margin-left: 0;
}
.content .share a img {
  display: block;
}

.publications {
  background-color: #F5F5FA;
  padding-top: 30px;
}
.publications__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.publications__link a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.publications__link a:hover {
  color: #0085FF;
}
.publications__link a:hover path {
  color: #0085FF;
}
.publications__link a:active {
  color: #006CCF;
}
.publications__link a:active path {
  color: #006CCF;
}
.publications h4 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: -o-linear-gradient(359.87deg, #F0145A 0.84%, #EF8080 99.96%);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-bottom: 30px;
  padding-top: 10px;
}
.publications__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .publications__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.publications__body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  background-color: #FFF;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 430px;
}
@media screen and (max-width: 425px) {
  .publications__body-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.publications__body-item:hover {
  background-color: #E6E6F0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.publications__body-item:hover .publication__body-item-desc h5 {
  color: #F0145A;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.publications__body-item:hover .publication__body-item-desc .line {
  background: white;
}
.publications__body-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.publications__body-item a .publication__body-item-bg1 {
  background: url("../img/Publication-1.png") center/cover;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.publications__body-item a .publication__body-item-bg2 {
  background: url("../img/Publication-2.png") center/cover;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.publications__body-item a .publication__body-item-bg3 {
  background: url("../img/Publication-3.png") center/cover;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}
.publications__body-item a .publication__body-item-desc {
  padding: 0 30px 30px 30px;
}
.publications__body-item a .publication__body-item-desc h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 30px 0 15px 0;
}
.publications__body-item a .publication__body-item-desc span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications__body-item a .publication__body-item-desc .line {
  max-width: 100%;
  height: 4px;
  background: #E6E6F0;
  margin: 15px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.publications__body-item a .publication__body-item-desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}