.link-active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 381px;
  cursor: default;
  height: 116px;
}
@media screen and (max-width: 1029px) {
  .header {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    padding-top: 55px;
    z-index: 2;
  }
}
@media screen and (max-width: 425px) {
  .header__logo {
    padding: 0;
  }
}
.header__menu {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  color: white;
  z-index: 2;
  padding: 7px;
}
@media screen and (max-width: 425px) {
  .header__menu {
    display: block;
  }
}
.header__menu::before {
  content: "";
  background-color: #FFF;
  position: absolute;
  width: 18px;
  height: 2px;
  top: 8px;
}
.header__menu::after {
  content: "";
  background-color: #FFF;
  position: absolute;
  width: 18px;
  height: 2px;
  bottom: 10px;
}
.header__menu span {
  background-color: #FFF;
  position: absolute;
  top: 45%;
  width: 18px;
  height: 2px;
}
.header__menu-burger {
  margin: 0;
  background: #323264;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -3290%;
  right: -30px;
  -webkit-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  transition: all ease-out 1s;
  z-index: 1;
}
.header__menu-burger ul {
  padding: 64px 12px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFF;
}
.header__menu-burger ul .close {
  top: 121px;
  right: 30px;
  position: absolute;
  color: #EC6F5D;
  z-index: 2;
  font-size: 18px;
}
.header__menu-burger ul li {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in 1s;
  -o-transition: all ease-in 1s;
  transition: all ease-in 1s;
  border: 1px solid transparent;
  padding: 10px 0;
  color: #24A3FF;
  border-radius: 12px;
  background: #F5F5FA;
  margin-bottom: 15px;
}
.header__menu-burger ul li:hover {
  -webkit-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
.header__menu-burger ul li:active {
  background: #E6E6F0;
}
.header__menu-burger ul li a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.header .active {
  display: block;
  width: 100vw;
  height: 100vh;
  top: -77px;
  right: -32px;
  background: #323264;
  z-index: 1;
}
.header__contacts {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .header__contacts {
    gap: 120px;
    position: absolute;
  }
}
@media screen and (max-width: 425px) {
  .header__contacts {
    left: 0;
    top: 0;
    width: 100%;
  }
}
.header__contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .header__contacts__body {
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .header__contacts__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: rgba(245, 245, 250, 0.2);
    padding: 12.5px 0;
  }
}
.header__contacts .lang a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 8px;
  color: #FFF;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 7px;
}
.header__contacts .lang a.lang-active {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}
.header__contacts .lang a:hover {
  background-color: #B3B3BA;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}
.header__contacts .lang a:active {
  background: #F0145A;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}
.header__contacts .header__contacts__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #FFF;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
.header__contacts .header__contacts__number::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  border-radius: 50%;
  cursor: default;
  top: 7px;
  left: 6px;
}
@media screen and (max-width: 425px) {
  .header__contacts .header__contacts__number::before {
    content: none;
  }
}
.header__contacts .header__contacts__number::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background: #E6E6F0;
  cursor: default;
  border-radius: 50%;
  top: 7px;
  right: 7px;
}
@media screen and (max-width: 425px) {
  .header__contacts .header__contacts__number::after {
    content: none;
  }
}
.header__contacts span {
  padding: 0 6px;
}
.header__contacts span svg {
  display: inline-block;
  margin-bottom: 1px;
}
@media screen and (max-width: 425px) {
  .header__contacts span svg {
    display: none;
  }
}
.header__contacts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}
@media screen and (max-width: 768px) {
  .header__contacts p {
    color: #B3B3BA;
  }
}
@media screen and (max-width: 425px) {
  .header__contacts p {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .header__contacts .facebook {
    display: none;
  }
}
.header__contacts .facebook a path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts .facebook a:hover path {
  fill: #F0145A;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__contacts__nav {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .header__contacts__nav {
    text-align: left;
  }
}
@media screen and (max-width: 425px) {
  .header__contacts__nav {
    display: none;
  }
}
.header__contacts__nav li {
  display: inline-block;
  margin-left: 15px;
}
.header__contacts__nav li:first-child {
  margin-left: 0;
}
.header__contacts__nav a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFF;
  padding-bottom: 3px;
}
.header__contacts__nav a.link-active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.header__contacts__nav a:hover {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.header__contacts__nav a:active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}